reconheceChao.cs filter=lfs diff=lfs merge=lfs -text
Som.cs filter=lfs diff=lfs merge=lfs -text
Adaga.cs filter=lfs diff=lfs merge=lfs -text
Bomba.cs filter=lfs diff=lfs merge=lfs -text
ConfigMenu.cs.meta filter=lfs diff=lfs merge=lfs -text
pauseMenu.cs filter=lfs diff=lfs merge=lfs -text
Online.meta filter=lfs diff=lfs merge=lfs -text
PlataformaFloat.cs filter=lfs diff=lfs merge=lfs -text
PlataformaFloat.cs.meta filter=lfs diff=lfs merge=lfs -text
PlayerManager.cs filter=lfs diff=lfs merge=lfs -text
DetectaChao.cs filter=lfs diff=lfs merge=lfs -text
Movimento.cs filter=lfs diff=lfs merge=lfs -text
MovP1.cs filter=lfs diff=lfs merge=lfs -text
MovP2.cs filter=lfs diff=lfs merge=lfs -text
reconheceChao.cs.meta filter=lfs diff=lfs merge=lfs -text
AudioManager.cs filter=lfs diff=lfs merge=lfs -text
MovP1.cs.meta filter=lfs diff=lfs merge=lfs -text
Online filter=lfs diff=lfs merge=lfs -text
PlayerManager.cs.meta filter=lfs diff=lfs merge=lfs -text
Bomba.cs.meta filter=lfs diff=lfs merge=lfs -text
BombaManager.cs.meta filter=lfs diff=lfs merge=lfs -text
MainCam.cs filter=lfs diff=lfs merge=lfs -text
Menu.cs filter=lfs diff=lfs merge=lfs -text
AudioManager.cs.meta filter=lfs diff=lfs merge=lfs -text
LimitesTeleport.cs.meta filter=lfs diff=lfs merge=lfs -text
MovP2.cs.meta filter=lfs diff=lfs merge=lfs -text
Som.cs.meta filter=lfs diff=lfs merge=lfs -text
UIManager.cs.meta filter=lfs diff=lfs merge=lfs -text
Adaga.cs.meta filter=lfs diff=lfs merge=lfs -text
GameManager.cs filter=lfs diff=lfs merge=lfs -text
GameManager.cs.meta filter=lfs diff=lfs merge=lfs -text
LimitesTeleport.cs filter=lfs diff=lfs merge=lfs -text
pauseMenu.cs.meta filter=lfs diff=lfs merge=lfs -text
UIManager.cs filter=lfs diff=lfs merge=lfs -text
ConfigMenu.cs filter=lfs diff=lfs merge=lfs -text
MainCam.cs.meta filter=lfs diff=lfs merge=lfs -text
Menu.cs.meta filter=lfs diff=lfs merge=lfs -text
Movimento.cs.meta filter=lfs diff=lfs merge=lfs -text
BombaManager.cs filter=lfs diff=lfs merge=lfs -text
DetectaChao.cs.meta filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
